@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  @apply bg-gray-100 p-5 mt-10 mx-5 shadow rounded flex flex-col justify-center items-center gap-5
  md:gap-10 md:flex-row md:justify-start md:mx-16
  xl:mx-40 xl:p-10;
}

.card-avatar {
  @apply h-32 rounded-full border-8 border-gray-300
  md:h-48;
}

.card-content {
  @apply flex flex-col items-center md:items-start;
}

.card-name {
  @apply text-lg text-gray-500 font-medium text-center
  md:text-5xl md:mb-1 md:text-left;
}

.card-username {
  @apply text-gray-500
  md:text-xl;
}

.card-biography {
  @apply text-gray-500 text-center
  md:text-xl;
}
