<div class="card">
  <img class="card-avatar" [src]="githubUser.avatar_url"/>

 <div class="card-content">
  @if (githubUser.name) {
    <!-- Show name and username -->
    <a [href]="githubUser.html_url" target="_blank" class="card-name">{{githubUser.name}}</a>
    <span class="card-username">{{githubUser.login | parseUsername }}</span>
  }
  @else {
    <!-- Show only username -->
    <a [href]="githubUser.html_url" target="_blank" class="card-name">{{githubUser.login | parseUsername }}</a>
  }

  <span class="card-biography">{{githubUser.bio ? githubUser.bio : 'without biography.'}}</span>
 </div>
</div>